@import url('main.css');

html, body {
    height: 100%;
    margin: 0;
}

my-category {
    display: contents;
}


#main-container {
    flex: 1;
    min-height: 0;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

#main-container > *,
#content-container > *,
#category-container > * {
    min-height: 0;
    min-width: 0;
}

#main-container > * {
    overflow: hidden;
}

#content-container {
    grid-area: 2 / 2 / 10 / 10 ;
    display:grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);

}

#category-container {
    grid-area: 1 / 1 / 3 / 9;
    background-color: var(--secondary-background);

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);
    border-radius: var(--border-radius);
}


#category-title, #category-add-input, #category-shown {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: var(--border-radius);
}

#category-title {
    grid-area: 1 / 1 / 4 / 4;
    font-size: var(--primary-fontsize);
}

#category-add-input {
    grid-area: 5 / 1 / 8 / 3;
    background-color: var(--third-background);
    align-items: center;
    justify-content: center;
    padding: var(--box-padding);
    gap:12px;
}

#category-shown {
    grid-area: 5 / 3 / 8 / 7;
    background-color: green;

    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 18px;
}


.item {
    margin: 0;
}

#add-input  {
    height: 75%;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

#add-input:focus {
    outline: 1px solid #b4b4b4;
}



#expenses-container {
    grid-area: 3 / 1 / 9 / 9;
    background-color: blueviolet;
}

#cat-items {

    background-color: aqua;
}
#category-shown {
    gap:4px;
}

.items-shown {
    background-color: var(--secondary-background);
    padding: 0 5px;
    border: 1px solid grey;
    border-radius: 8px;

}