@import url('main.css');

#navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#navbar ul li a {
    font-family: sans-serif;
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--third-fontsize);
}